@(title: String,Id: Long, edititem: Item)

@main(title){
         <div class ="container">
            <h3>Edit Item</h3>

            <form name="frmReg" id="frmReg" method="POST" action="@routes.Application.edititem()" class="form horizontal">
                <div class ="row">
                    <div class = "col-sm-6">
                        <div class = "form-group">
                            <label for ="name">Item Name:</label>
                            <input type ="text" name="name" id ="name"class ="form-control" placeholder="Enter Item Name" value="@edititem.item_name">
                            <input type ="hidden" id="categoryID" class="form-control" name="catg_id" value="@edititem.catg_id">
                            <input type ="hidden" id="itemID" class="form-control" name="itemID" value="@edititem.Id">
                        </div>
                    </div>
                </div>

                <div class ="row">
                    <div class = "col-sm-6">
                        <div class = "form-group">
                            <label for ="textare">Description:</label>
                                <!--<input type ="text" name="description" id ="name" class ="form-control" placeholder="Enter Item Desc">-->
                            <textarea name="description" cols ="72%" rows ="" class ="form-control">@edititem.item_desc</textarea>
                        </div>
                    </div>
                </div>
                <br/>
                    <!--<a href="dashboard.html" class="btn btn btn-primary">Submit</a>-->
                <button id="btnreg" type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
}