@(title: String, Id:Long, editcat: Category)

@main(title){
         <div class ="container">
            <h3>Edit Category</h3>

            <form name="frmReg" id="frmReg" method="POST" action="@routes.Application.editcategory()" class="form horizontal">
                    <!--<form name ="form2" method ="post" class="form horizontal">-->

                <div class ="row">
                    <div class = "col-sm-6">
                        <div class = "form-group">
                            <label for ="name">Name:</label>
                            <input type ="text" name="name" id ="name"class ="form-control" value="@editcat.name">
                            <input type ="hidden" name="categoryId" id ="categoryId"class ="form-control" value="@editcat.Id">
                        </div>
                    </div>
                </div>

                <div class ="row">
                    <div class = "col-sm-6">
                        <div class = "form-group">
                            <label for ="textare">Description:</label>
                                <!--<input type ="text" name="description" id ="name" cols ="72%" class ="form-control">-->
                            <textarea name="description" cols ="72%" rows ="" class ="form-control">@editcat.description</textarea>
                        </div>
                    </div>
                </div>
                <br/>
                    <!--<a href="dashboard.html" class="btn btn btn-primary">Submit</a>-->
                <button id="btnreg" type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
}