@(title: String)

@main(title){
        <div class="container">
            <h4>Enter your Username and PIN to recover your password</h4>
            <form name="frmLogin" id="frmLogin" method="post" class="form">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="username" name="username" id="username" class="form-control" placeholder="Enter Username" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputPassword">Enter PIN</label>
                            <input type="pin" name="pin" id="inputpin" class="form-control" placeholder="Enter PIN" required>
                        </div>
                    </div>
                </div>
                <button id="btnLogin" type="button" class="btn btn-primary">Submit</button>
            </form>

        </div>
    <script src="@routes.Assets.at("js/jquery-2.2.3.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/sweetalert.min.js")" type="text/javascript"></script>

    <script>
            $(function () {
                //alert("Page has loaded")---Normal Alert
                $('#btnLogin').on('click', function () {
                    //alert("This is awesome");
                    var username=$('#username').val();
                    var pin=$('#inputpin').val();

                    //validation if username is blank

                    if (username===''){
                        alert("Please Enter Username");
                        return false;
                    }

                    if (pin===''){
                        alert("Please Enter PIN");
                        return false;
                    }
                    // alert("Username: "+username+" Password: "+password);
                    $.ajax({
                        type: "POST",
                        url: '/forgotpassword',
                        dataType: 'json',
                        data: $('form[name=frmLogin]').serialize(),
                        success: function (response) {
                            console.log(response);
                            alert(response.code+" "+response.message);

                            if (response.code==='200'){
                                //window.location='/tododetails';
                                alert(response.code+"Your password is"+response.pass);
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                });
            });
    </script>
}
