@(title: String)


<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div class="container">
            <h1>Login</h1>
            <form name="frmLogin" id="frmLogin" method="POST" class="form">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="username" name="username" id="username" class="form-control" placeholder="Enter Username" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Enter Password" required>
                        </div>
                    </div>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>

                <button id="btnLogin" type="button" class="btn btn-primary">Login </button>
               <a href="@routes.Application.registerPage()">Register</a>

                <div class="row">
                    <p>Forgot your password?<u style="color:#f1c40f;">
                        <a href="@routes.Application.forgotpasswordpage()">Forgot Password</a></u></p>
                </div>

        </form>

        </div>
        <script src="@routes.Assets.at("js/jquery-2.2.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/sweetalert.min.js")" type="text/javascript"></script>

        <script>
            $(function () {
                //alert("Page has loaded")---Normal Alert
                $('#btnLogin').on('click', function () {
                    //alert("This is awesome");
                    var username=$('#username').val();
                    var password=$('#inputPassword').val();
                    //validation if username is blank
                    if (username===''){
                        alert("Enter Username");
                        return false;
                    }
                    if (password===''){
                        alert("Enter Password");
                        return false;
                    }
                   // alert("Username: "+username+" Password: "+password);
                    $.ajax({
                        type: "POST",
                        url: '/login',
                        dataType: 'json',
                        data: $('form[name=frmLogin]').serialize(),
                        success: function (response) {
                            console.log(response);
                            //alert(response.code+" "+response.message);
                           // swal(response.message);

                            swal({
                                title: "Success!",
                                text: response.message,
                                type: "success"
                            });

                           // if (response.code==='200'){
                           //     window.location='/tododetails';
                           // }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                });
            });
        </script>
    </body>
</html>
