@(title: String)

@main(title){
        <div class="container">
            <h1>Register</h1>

            <form name="frmReg" id="frmReg" method="POST" class="form horizontal">
                <!-- <form name="frmReg" id="frmReg" method="POST" action="/registerpage" class="form horizontal">-->
                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group">
                                <label for ="name">Name</label>
                                <input type ="text" name = "username" id ="Name" class ="form-control" placeholder="Enter Name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group">
                            <label for ="name">Email</label>
                            <input type ="email" name = "email" id ="email" class="form-control" placeholder="Enter Email"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group">
                            <label for ="name">Password</label>
                            <input type ="password" name = "password" id ="pass"  class="form-control" placeholder="Enter Password"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group">
                            <label for ="name">Confirm Password</label>
                            <input type ="password" name = "cpassword" id ="cpass"  class="form-control" placeholder="Enter Password Again"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group">
                            <label for ="name">Mobile</label>
                            <input type ="text" name = "mobile" id ="mob"  class="form-control" placeholder="Enter Mobile No."/>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group">
                            <label for ="name">Enter PIN</label>
                            <input type ="text" name = "pin" id ="pin" maxlength="4" class="form-control" placeholder="Enter PIN" required/>
                        </div>
                    </div>
                </div>

                <!--<input type ="submit" class="btn btn-primary">-->
                <button id="btnReg" type="button" class="btn btn-primary">Submit</button>

            </form>

           <!-- <a href ="login.html">Login</a>-->
            <a href="@routes.Application.index()">Login</a>

        </div>

        <script src="@routes.Assets.at("js/jquery-2.2.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/sweetalert.min.js")" type="text/javascript"></script>

    <script>
        $(function () {
            $('#btnReg').on('click',function () {
                var username=$('#Name').val();
                var email=$('#email').val();
                var password=$('#pass').val();
                var confirm_password=$('#cpass').val();
                var mobile=$('#mob').val();
                var pin=$('#pin').val();
                //validation if blank
                if (username===''){
                    swal("Enter Username");
                    return false;
                }
                if (email===''){
                    swal("Enter Email Id");
                    return false;
                }
                if (password===''){
                    swal("Enter Password");
                    return false;
                }
                if (confirm_password===''){
                    swal("Please confirm your Password");
                    return false;
                }
                if (mobile===''){
                    swal("Enter your Mobile No.");
                    return false;
                }
                if (pin===''){
                    swal("Enter PIN to help recover your password in future");
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: '/register',
                    dataType: 'json',
                    data: $('form[name=frmReg]').serialize(),
                    success: function (response) {
                      console.log(response);
                        if (response.code==='200'){
                            swal({
                                        title: "Sure you want to save?",
                                        text:  "Pressing Yes will Save data, Cancel-go back",
                                        type: "info",
                                        showCancelButton: true,
                                        confirmButtonClass: "btn-primary",
                                        confirmButtonText: "Yes!",
                                        closeOnConfirm: false,
                                        closeOnCancel: false
                                    },
                                    function(isConfirm){
                                        if (isConfirm){
                                            swal({
                                                title: response.title,
                                                text: response.message,
                                                type: "success"
                                            },
                                            function() {
                                                form.submit()});

                                        } else {
                                            swal("Cancelled", "Your imaginary file is safe :)", "error");
                                        }
                                        //swal("Great!", "You have recovered your password", "success");
                                       // window.location='/';
                                    });
                        }
                        else{
                            swal({
                                title: response.title,
                                text: response.message,
                                type: "error"
                            });
                      }
                    },
                    error: function (error) {
                    console.log(error) ;
                    }
                });
                
            });
            
        });
    </script>
}
