@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div class="container">
            <h1>Register</h1>

            <form name="frmReg" id="frmReg" method="POST" action="@routes.Application.register()" class="form horizontal">
                <!-- <form name="frmReg" id="frmReg" method="POST" action="/registerpage" class="form horizontal">-->
                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group">
                                <label for ="name">Name</label>
                                <input type ="text" name = "username" id ="Name" class ="form-control" placeholder="Enter Name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group">
                            <label for ="name">Email</label>
                            <input type ="email" name = "email" id ="email" class="form-control" placeholder="Enter Email"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group">
                            <label for ="name">Password</label>
                            <input type ="password" name = "password" id ="pass"  class="form-control" placeholder="Enter Password"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group">
                            <label for ="name">Confirm Password</label>
                            <input type ="password" name = "password" id ="pass"  class="form-control" placeholder="Enter Password Again"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class = "col-sm-6">
                        <div class="form-group">
                            <label for ="name">Mobile</label>
                            <input type ="text" name = "mobile" id ="mob"  class="form-control" placeholder="Enter Mobile No."/>
                        </div>
                    </div>
                </div>

                <!--<input type ="submit" class="btn btn-primary">-->
                <button id="btnreg" type="submit" class="btn btn-primary">Submit</button>

            </form>

           <!-- <a href ="login.html">Login</a>-->
            <a href="@routes.Application.index()">Login</a>

        </div>

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </body>
</html>
