@(title: String)
<script>
        function deleteCategory(id){
            //alert(id);
            swal({      title: "Sure you want to Delete this item?",
                        text:  "Pressing Yes will delete your data permanently",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-primary",
                        confirmButtonText: "Yes!",
                        cancelButtonText: "Cancel!",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function(isConfirm){
                        if (isConfirm){
                            $.ajax({
                                type: "POST",
                                url: '/deletingcat',
                                dataType: 'json',
                                data: {'categoryId':id},
                                success: function (response) {
                                    console.log(response);
                                    if (response.code==='200'){
                                        swal({
                                            title: response.title,
                                            text: response.message,
                                            type: "success"
                                        });
                                        window.location = '/tododetails';
                                    }
                                    else{
                                        swal({
                                            title: response.title,
                                            text: response.message,
                                            type: "error"
                                        });
                                    }
                                },
                                error: function (error) {
                                    console.log(error) ;
                                }
                            });
                        }
                        else {
                            swal("Cancelled", "You can still delete later", "error");
                        }
                    });

        }
</script>
@main(title){
        <div class ="container">
            <button type="button" class="btn btn-default btn-lg btn btn-primary" >
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </button>
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                                <!--<h2><span class = "label label-default">To Do categories</h2>-->
                            <h2>To Do categories</h2>
                        </div>
                        <div class="nav pull-right">
                            <a href="@routes.Application.addcategoryPage()" class="btn btn-primary navbar-btn">Add
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>

                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="primary">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Edit</th>
                            <th>View</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(category <- Category.getAllCategories()) {
                        <tr>
                            <td>
                                @category.Id
                            </td>
                            <td>
                                @category.name
                            </td>
                            <td><a href="@routes.Application.editcategoryPage(category.Id)"><input type="submit" value ="Edit" class="btn btn-primary"></a></td>
                            <td><a href="@routes.Application.viewitems(category.Id)"><input type="submit" value ="View" class="btn btn-primary"></a></td>
                            <!--<td><a href="routes.Application.deletecat(category.Id)"><input type="submit" value ="Delete" class="btn btn-primary"></a></td>-->
                            <td><button id="btnDel" type="button" value ="Delete" onclick="deleteCategory(@category.Id); return false;" class="btn btn-primary">Delete</button></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>


}