@(title: String,categoryId: Long)
@main(title){
        <div class ="container">
            <button type="button" class="btn btn-default btn-lg btn btn-primary" >
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </button>
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                                <!--<h2><span class = "label label-default">To Do categories</h2>-->
                            <h2>View Items</h2>
                        </div>
                        <div class="nav pull-right">
                            <a href="@routes.Application.itemPage(categoryId)" class="btn btn-primary navbar-btn">Add Items
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>

                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="primary">
                            <th>Item ID</th>
                            <th>Category Name</th>
                            <th>Item Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(item <- Item.getCategoryWise(categoryId)) {
                        <tr>
                            <td>
                            @item.Id
                            </td>
                            <td>
                                @Category.finditembyitemName(item.catg_id).name

                            </td>
                            <td>
                            @item.item_name
                            </td>
                            <td><a href="@routes.Application.edititemPage(item.Id)"><input type="submit" value ="Edit" class="btn btn-primary"></a></td>
                            <td><a href="@routes.Application.deleteitem(item.Id)"><input type="submit" value ="Delete" class="btn btn-primary"></a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
}