@(title: String, user: User)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div class="container">
            <h4>Password</h4>
       Your password is: @user.password
        </div>
        <div class="container">

            <a href="@routes.Application.index()">Login</a>
        </div>


    </body>
    <html>